body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.hero,
.footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.overview {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.about {
    display: flex;
    flex-wrap: wrap;
    max-width: 35vw;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    border: none;
    color: #F9FAF8;
    padding: 8px 20px;
}

img {
    max-width: 40vw;
    height: auto;
}

.white {
    font-size: 18px;
    color: #E5E7EB;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    text-align: center;
    padding: 50px;
}

.illustrations {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 10em;
    align-items: center;
}

.pics {
    border: solid blue;
    width: 10em;
    height: 10em;
    border-radius: 15px;
}

.quote-box {
    background-color: #E5E7EB;
    padding: 50px 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-weight: 700;
    font-size: 24px;
    text-align: end;
}

.inner-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 50px 80px;
    padding: 20px 30px;
    border-radius: 10px;
}

.bottom {
    border: 1px solid white;
    margin-left: 30px;
}

h3 {
    color: #F9FAF8;
}